:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  --font-family: "Figtree", sans-serif;
}

h1 {
  transition: color 0.3s ease, transform 0.3s ease;
}

h1:hover {
  color: var(--yellow);
  transform: translateY(-4px);
  cursor: pointer;
}

.date,
.author img {
  display: none;
}

@media (min-width: 600px) {
  .date,
  .author img {
    display: block;
  }
}
