:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  --font-family: "Figtree", sans-serif;
}

body {
  font-family: var(--font-family);
  margin: 0;
}

h1 {
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--gray-950);
  transition: color 0.3s ease, transform 0.3s ease;
}

h1:hover {
  color: var(--yellow);
  transform: translateY(-4px);
  cursor: pointer;
}

.link-custom:hover {
  color: var(--yellow) !important;
  cursor: pointer;
}

.card {
  background-color: var(--white);
  border: 1px solid var(--gray-950);
  border-radius: 1rem;
  box-shadow: 8px 8px 0 var(--gray-950);
  padding: 1.5rem;
  max-width: 21rem;
}

.badge {
  font-size: 0.875rem;
  font-weight: 800;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--gray-950);
  margin-top: 1.5rem;
}
.author img {
  width: 32px;
  border-radius: 50%;
}

.date,
.author img {
  display: none;
}

@media (min-width: 600px) {
  .date,
  .author img {
    display: block;
  }
}
